<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Scrub Brush</title>
        <link rel="stylesheet" href="main.css" />
    </head>
    <body>
        <h1>
            タワシ販売サイト
        </h1>
        <p>
            在庫がある場合には注文していただけます。
        </p>
        <p>
            現在の在庫数: <%= stock %>
        </p>
    </body>
</html>